export OPENSHIFT_API='https://ocpconsole.xplat.fis.vn'
export OPENSHIFT_TOKEN=eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvc2Utc2VsZnNlcnZpY2UtYmFja2VuZCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJvc2Utc2VsZnNlcnZpY2UtdG9rZW4tNG50MjYiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC5uYW1lIjoib3NlLXNlbGZzZXJ2aWNlIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiMzYwZjQ3NmMtYWMyOC0xMWU4LTg5YmYtMDA1MDU2OTAyZDQ3Iiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9zZS1zZWxmc2VydmljZS1iYWNrZW5kOm9zZS1zZWxmc2VydmljZSJ9.CXw2O3VCMhauz7EQFBAglAvo2OaRzvAYXgcV8DX1vmH3800XA1FxypLus1CA0toFIWbZq-jqxBSybqhjU14rQhw2c5dr_kfl-rQsYnO8OrExVJ37b6edKw967L1rJGZWYHa5IaBcEq1Y6Ia9i7TApZswITe-tiO6UXsY-giwcbdyn3aZPnJpLKjMmo4sxGlbj5ge6sAZLJQabhV7rRfX8xzYDhKjr3XhN5K-a2HlP3ycMRUWqx8obZOr5quufDn7HXCZuT2CGWqW54drLKSSmdBoNhq4amBtIUREeE_uD3zYQy2p2lOXmODbuhij_GKrocGZeAJEtkaK9k8YktaWLA
export MAX_QUOTA_CPU=30
export MAX_QUOTA_MEMORY=50
export LDAP_URL=xplat.fis.vn
export LDAP_BIND_DN='CN=ocpUser,CN=Users,DC=xplat,DC=fis,DC=vn'
export LDAP_BIND_CRED='xplat\Administrator'
export LDAP_FILTER='(cn=%s)'
export SESSION_KEY=Abcd@1234
export LDAP_SEARCH_BASE='OU=Domain Controllers'
export GIN_MODE=release
export LOGSENE_ENABLED=true
#export MAX_VOLUME_GB=100
#export GLUSTER_API_URL='http://ocpinfra01:8080'
#export GLUSTER_SECRET=
#export GLUSTER_IPS=
#export AWS_S3_BUCKET_PREFIX=
#export AWS_NONPROD_SECRET_ACCESS_KEY=
#export AWS_REGION=eu-central-1
#export AWS_PROD_ACCESS_KEY_ID=
#export AWS_PROD_SECRET_ACCESS_KEY=
#export AWS_NONPROD_ACCESS_KEY_ID=
#export SEMATEXT_API_TOKEN=
#export SEMATEXT_BASE_URL='https://apps.eu.sematext.com/'
#export DDC_API=
#export JENKINS_URL='http://jenkins.yourorg.com'
#export WZUBACKEND_URL=
#export WZUBACKEND_SECRET=

# export https_proxy=
